EAI_SoapTypeSAP/Service Descriptors/SAP_HERO_ONL_0001.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.example.org/schema/1621317293339" xmlns:tns="http://www.example.org/wsdl/1621319811853" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SAP_HERO_ONL_0001" targetNamespace="http://www.example.org/wsdl/1621319811853">
  <wsdl:import location="../Schemas/SAP/SAP_HERO_ONL_0001_Schema.xsd" namespace="http://www.example.org/schema/1621317293339"/>
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.example.org/wsdl/1621319811853">
      <xsd:element name="operationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="operationRequest">
    <wsdl:part element="extns:operationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="extns:operationResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1Request">
    <wsdl:part element="extns:operation1Request" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="SAP_HERO_ONL_0001">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest" name="operationInput"/>
      <wsdl:output message="tns:operationResponse" name="operationOutput"/>
    </wsdl:operation>
        <wsdl:operation name="operation1">
      <wsdl:input message="tns:operation1Request" name="operation1Input"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
